{%extends 'base.html'%}
{%load static%}
{%block conteudo%}


<body class="bg-cinza">
    <main class="container-fluid mt-3">
        <div class="row">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo2.svg' %}" alt="Logo">
                    </a>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{% url 'cadastro_produto' %}" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home" />
                            </svg>
                            Cadastrar produto
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cadastro_admin' %}" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2" />
                            </svg>
                            Cadastrar administrador
                        </a>
                    </li>
                </ul>
                <hr>

            </div>
            <div class="col m-2 bg-light">
                <h4>Trocas para avaliar</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Objeto</th>
                            <th scope="col">Estado de conservação</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>coisa1</td>
                            <td>bom</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>coisa2</td>
                            <td>otimo</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>coisa3</td>
                            <td>ruim</td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col m-2 bg-light">
                <h4>Doações para avaliar</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Objeto</th>
                            <th scope="col">Estado de conservação</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>coisa1</td>
                            <td>bom</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>coisa2</td>
                            <td>otimo</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>coisa3</td>
                            <td>ruim</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </main>

    <footer class="text-center mt-3">
        <!-- Footer content -->
    </footer>
</body>

{%endblock%}