{%extends 'base.html'%}
{%load static%}
{%block conteudo%}

  
<div class="container mt-5">
    <!-- Conteúdo da Página -->
    {% for item in lista %}
      <div class="row mb-4">
        <div class="col-4 border border-start">
          <img src="/media/{{ item.produto.foto_produto }}" class="img-thumbnail" alt="{{ item.produto.nome_produto }}">
        </div>
        <div class="col-4 border border-start">
          <h6>{{ item.produto.nome_produto }}</h6>
          <p><strong>Categoria:</strong> {{ item.produto.get_categoria_display }}</p>
        </div>
        <div class="col-4 border border-start">
          <p><strong>Categoria:</strong> {{ item.produto.get_categoria_display }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-danger btn-sm" >Excluir</button>
            <a href="{% url 'solicitar_troca' %}"><button type="button" class="btn btn-success btn-sm" >Finalizar Troca</button></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{%endblock%}