{%extends 'base.html'%}
{%load static%}
{%block conteudo%}

  
  </div>
  <!-- Conteúdo da Página -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 border border-start">
        <label class="text-center"><img src="{% static 'img/bag.svg' %}"></label>
      </div>
      <div class="col-4 border border-start">
        <label>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</label>
      </div>
      <div class="col-4 border border-start">
        <label>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border border-start">
        <label class="text-center"><img src="{% static 'img/bag.svg' %}"></label>
      </div>
      <div class="col-4 border border-start">
        <label>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</label>
      </div>
      <div class="col-4 border border-start">
        <label>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border border-start">
        <label class="text-center"><img src="{% static 'img/bag.svg' %}"></label>
      </div>
      <div class="col-4 border border-start">
        <label>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</label>
      </div>
      <div class="col-4 border border-start">
        <label>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
      </div>
    </div>
    <div class="row">
      <div class="col-4 border">
        <label class="text-center"><img src="{% static 'img/bag.svg' %}"></label>
      </div>
      <div class="col-4 border border-start">
        <label>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</label>
      </div>
      <div class="col-4 border">
        <label>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</label>
      </div>
    </div>
  </div>

{%endblock%}