
{%extends 'base.html'%}
{%load static%}
{%block conteudo%}

  <body> <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-verde1">
        <div class="container">
            <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo da Loja" width="70" height="70">
                </a>

                <!-- Barra de Pesquisa -->
                <form class="form-inline my-2 my-lg-0 ml-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>

                <!-- Carrinho -->
                <a href="{% url 'cadastro' %}" class="ml-3">
                    <img src="{% static 'img/login_cad.svg' %}" width="100" height="100" alt="login e cadastro">
                </a>

                <a href="{% url 'troca_item' %}" class="ml-3">
                  <img src="{% static 'aaaaaa' %}" width="100" height="100" alt="Trocar item">
               </a>
                <a href="#" class="ml-3">
                    <img src="{% static 'img/bag.svg' %}" width="30" height="30" alt="login e cadastro">
                </a>

    </nav>
    </div>
    <!-- Conteúdo da Página -->
    <div class="container-fluid mt-4">
        <h2>Categorias:</h2>
        <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1 v-full">
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/livros.png' %}" width="50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Livros</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/roupas.png' %}" width="50" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Roupas</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/eletronicos.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Eletrônicos</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/bolsas.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Bolsas</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/acessorios.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Acessórios</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/papelaria.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Papelaria</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/calçados.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Calçados</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
            <div class="col mb-4">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/brinquedos.png' %}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Brinquedos</h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
            </div>
        </div>

    </div>
    </body> 
    {%endblock%}